<section class="block">
    <div class="container">
      <header class="block__header">
        <h2 class="block__heading">Host on the cloud keep growing</h2>
        <p class="block__desc">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus,
          et.
        </p>
      </header>
      <div class="block__body">
        <div class="card card-primary" style="width: 30%;">
          <header class="card__header">Title</header>
          <div class="card__body">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, nam
            vero accusamus ratione dolor at dolorem earum repellat quaerat esse?
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="block block--dark container">
    <div class="block__header">
      <h2 class="block__heading">Host on the cloud keep growing</h3>
      <p class="block__desc">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus,
        et.
      </p>
    </div>
    <div class="block__body">
      <div class="card card-primary">
        <header class="card__header">Title</header>
        <div class="card__body">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, nam
          vero accusamus ratione dolor at dolorem earum repellat quaerat esse?
        </div>
      </div>
    </div>
  </section>