<div class="callout callout--primary">
    <div class="grid grid-cols-2">
      <div class="callout__content">
        <h2 class="callout__heading">Ready to get started?</h2>
        <p class="callout__body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          recusandae iste consectetur voluptas unde nostrum amet blanditiis
          reprehenderit delectus enim?
        </p>
      </div>
      <a href="#" class="button button-primary button__stretched">GET STARTED</a>
    </div>
  </div>