<section class="block container domain-block">
    <header class="block__header">
      <h2 class="block__heading">Starting at $10 per month</h2>
      <p class="block__desc">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus,
        et.
      </p>
    </header>
    <div class="input-group">
      <input
        type="text"
        name=""
        id=""
        class="input-field"
        placeholder="Enter domain ..."
      />
      <button class="button button--accent button--block">
          <img class="icon icon-small" src="/icons/search.svg" alt="" /> 
        SEARCH
      </button>
    </div>
    <ul class="list domain-block__prices">
      <li class="badge badge-primary">.com 9$</li>
      <li class="badge">.sg $10</li>
      <li class="badge">.space $11</li>
      <li class="badge">.info $14</li>
      <li class="badge">.net $10</li>
      <li class="badge">.xyz 18</li>
    </ul>
  </section>