<section class="block feature-block">
    <header class="block__header">
      <h2 class="block__heading">Host on the cloud keep growing</h3>
      <p class="block__desc">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus,
        et.
      </p>
    </header>
    <div class="block__body container">
      <article class="feature grid grid-cols-2">
        <div class="media media--stacked">
          <div class="media-image">
            <img src="/icons/substratum.svg" alt="" />
          </div>
          <div class="media-body">
            <h3 class="media__heading">Super Easy To Use</h3>
            <div class="media__content">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione,
              harum Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Eos, corporis.
            </div>
          </div>
          <a href="#" class="link-arrow">
            Learn More
            <span class="material-symbols-outlined">arrow_right_alt</span></a
          >
        </div>
        <img src="/images/easy@2x.64ebbcb2.webp" alt="" class="feature__image" />
      </article>
      <article class="feature grid grid-cols-2">
        <div class="media media--stacked">
          <div class="media-image">
            <img src="/icons/server.svg" alt="" />
          </div>
          <div class="media-body">
            <h3 class="media__heading">Freaking Fast Websites</h3>
            <div class="media__content">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione,
              harum Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Eos, corporis.
            </div>
          </div>
          <a href="#" class="link-arrow">
            Learn More
            <span class="material-symbols-outlined">arrow_right_alt</span></a
          >
        </div>
        <img src="/images/fast@2x.5ba4dac3.webp" alt="" class="feature__image" />
      </article>
      <article class="feature grid grid-cols-2">
        <div class="media media--stacked">
          <div class="media-image">
            <img src="/icons/wordpress.svg" alt="" />
          </div>
          <div class="media-body">
            <h3 class="media__heading">Wordpress Made Easy</h3>
            <div class="media__content">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione,
              harum Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Eos, corporis.
            </div>
          </div>
          <a href="#" class="link-arrow">
            Learn More
            <span class="material-symbols-outlined">arrow_right_alt</span></a
          >
        </div>
        <img src="/images/wordpress@2x.d9e05d1c.webp" alt="" class="feature__image" />
      </article>
      <article class="feature grid grid-cols-2">
        <div class="media media--stacked">
          <div class="media-image">
            <img src="/icons/support.svg" alt="" />
          </div>
          <div class="media-body">
            <h3 class="media__heading">24/7 Expert Support</h3>
            <div class="media__content">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione,
              harum Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Eos, corporis.
            </div>
          </div>
          <a href="#" class="link-arrow">
            Learn More
            <span class="material-symbols-outlined">arrow_right_alt</span></a
          >
        </div>
        <img src="/images/support@2x.01d24e23.webp" alt="" class="feature__image" />
      </article>
    </div>
  </section>