<footer class="block block--dark footer-block">
  <div class="grid footer__sections">
    <div class="collapsible">
      <div class="collapsible__header">
        <h2 class="collapsible__heading">Products</h2>
        <span class="icon material-icons collapsible__indicator">
          <img src="/icons/chevron.svg" alt="" />
        </span>
      </div>
      <div class="collapsible__body">
        <ul class="list">
          <li>Website Hosting</li>
          <li>Automated Wordpress</li>
          <li>Migrations</li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <div class="collapsible__header">
        <h2 class="collapsible__heading">Company</h2>
        <span class="icon material-icons collapsible__indicator">
          <img src="/icons/chevron.svg" alt="" />
        </span>
      </div>
      <div class="collapsible__body">
        <ul class="list">
          <li>About</li>
          <li>Affiliates</li>
          <li>Blog</li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <div class="collapsible__header">
        <h2 class="collapsible__heading">Support</h2>
        <span class="icon material-icons collapsible__indicator">
          <img src="/icons/chevron.svg" alt="" />
        </span>
      </div>
      <div class="collapsible__body">
        <ul class="list">
          <li>Contact</li>
          <li>Knowledge center</li>
          <li>FAQs</li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <div class="collapsible__header">
        <h2 class="collapsible__heading">Domains</h2>
        <span class="icon material-icons collapsible__indicator">
          <img src="/icons/chevron.svg" alt="" />
        </span>
      </div>
      <div class="collapsible__body">
        <ul class="list">
          <li>Domain Checker</li>
          <li>Domain Transfer</li>
          <li>Free Domain</li>
        </ul>
      </div>
    </div>
    <div class="footer__brand">
      <span class="logo">
        <img
          class="logo__icon"
          src="/icons/cloud-computing.svg"
          alt="Brand logo"
        />
        Shusa Inc
      </span>
      <span class="brand__contents">Copyright&#169; 2023</span>
      <span class="brand__contents">Wade Wilson</span>
    </div>
  </div>
</footer>
