<nav class="nav grid grid-cols-2 collapsible">
  <header class="nav__navbar">
    <span class="logo">
      <img
        class="logo__icon"
        src="/icons/cloud-computing.svg"
        alt="Brand logo"
      />
      Shusa Inc
    </span>
    <img src="/icons/menu-alt-02.svg" alt="" class="nav__toggler" />
  </header>
  <div class="nav__links list collapsible__body">
    <li class="nav-item">Hosting</li>
    <li class="nav-item">VPS</li>
    <li class="nav-item">Domain</li>
    <li class="nav-item">Pricing</li>
  </div>
</nav>
