<section class="plan-block plans">
  <div class="grid grid-cols-3 container">
    <div class="plan">
      <div class="card card-accent">
        <header class="card__header">
          <img src="/icons/popular.svg" class="plan-banner" alt="" />
          <h3 class="plan-name card__header-item">Entry</h3>
          <div class="plan-detail-container card__header-item">
            <span class="plan-price">$17</span
            ><span class="plan-cycle">/month</span>
            <span class="plan-offer">
              <span class="badge badge-accent badge-small">10% OFF</span>
            </span>
          </div>
          <p class="plan-desc card__header-item">Easy start on the cloud</p>
        </header>
        <div class="card__body">
          <ul class="list list-stacked">
            <li class="list-item">
              <span class="list-style"
                ><img src="/icons/material-done.svg" alt="list-style"
              /></span>
              <span>Unlimited Websites</span>
            </li>
            <li class="list-item">
              <span class="list-style"
                ><img src="/icons/material-done.svg" alt="list-style"
              /></span>
              <span>Unlimited Bandwidth</span>
            </li>
            <li class="list-item">
              <span class="list-style"
                ><img src="/icons/material-done.svg" alt="list-style"
              /></span>
              <span>100 GB SSD Storage</span>
            </li>
            <li class="list-item">
              <span class="list-style"
                ><img src="/icons/material-done.svg" alt="list-style"
              /></span>
              <span>3 GB RAM</span>
            </li>
          </ul>
          <button class="button button-outline button--block">Buy now</button>
        </div>
      </div>
    </div>
    <div class="plan plan-popular">
      <div class="card card-primary">
        <header class="card__header">
          <img src="/icons/popular.svg" class="plan-banner" alt="" />
          <h3 class="plan-name card__header-item">Entry</h3>
          <div class="plan-detail-container card__header-item">
            <span class="plan-price">$17</span
            ><span class="plan-cycle">/month</span>
            <span class="plan-offer">
              <span class="badge badge-primary badge-small">10% OFF</span>
            </span>
          </div>
          <p class="plan-desc card__header-item">Easy start on the cloud</p>
        </header>
        <div class="card__body">
          <ul class="list list-stacked">
            <li class="list-item">
              <span class="list-style"
                ><img src="/icons/material-done.svg" alt="list-style"
              /></span>
              <span>Unlimited Websites</span>
            </li>
            <li class="list-item">
              <span class="list-style"
                ><img src="/icons/material-done.svg" alt="list-style"
              /></span>
              <span>Unlimited Bandwidth</span>
            </li>
            <li class="list-item">
              <span class="list-style"
                ><img src="/icons/material-done.svg" alt="list-style"
              /></span>
              <span>100 GB SSD Storage</span>
            </li>
            <li class="list-item">
              <span class="list-style"
                ><img src="/icons/material-done.svg" alt="list-style"
              /></span>
              <span>3 GB RAM</span>
            </li>
          </ul>
          <button class="button button-outline button--block">Buy now</button>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card-accent">
        <header class="card__header">
          <img src="/icons/popular.svg" class="plan-banner" alt="" />
          <h3 class="plan-name card__header-item">Entry</h3>
          <div class="plan-detail-container card__header-item">
            <span class="plan-price">$17</span
            ><span class="plan-cycle">/month</span>
            <span class="plan-offer">
              <span class="badge badge-accent badge-small">10% OFF</span>
            </span>
          </div>
          <p class="plan-desc card__header-item">Easy start on the cloud</p>
        </header>
        <div class="card__body">
          <ul class="list list-stacked">
            <li class="list-item">
              <span class="list-style"
                ><img src="/icons/material-done.svg" alt="list-style"
              /></span>
              <span>Unlimited Websites</span>
            </li>
            <li class="list-item">
              <span class="list-style"
                ><img src="/icons/material-done.svg" alt="list-style"
              /></span>
              <span>Unlimited Bandwidth</span>
            </li>
            <li class="list-item">
              <span class="list-style"
                ><img src="/icons/material-done.svg" alt="list-style"
              /></span>
              <span>100 GB SSD Storage</span>
            </li>
            <li class="list-item">
              <span class="list-style"
                ><img src="/icons/material-done.svg" alt="list-style"
              /></span>
              <span>3 GB RAM</span>
            </li>
          </ul>
          <button class="button button-outline button--block">Buy now</button>
        </div>
      </div>
    </div>
  </div>
</section>
