<div class="quotes">
    <p class="quote-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque placeat
      iure facere error ab, alias architecto vel omnis vero quos nulla a
      reprehenderit dolores dolorum iusto accusamus non asperiores aperiam!
    </p>
    <div class="media">
      <div class="media-image">
        <img src="/icons/line.svg" alt="" width="60" />
      </div>
      <div class="media-body">
        <h3 class="media__heading quote__author ">John Smith</h3>
        <div class="media__content quote__content">ABC Company</div>
      </div>
    </div>
  </div>