<section class="block testimonial-block">
    <header class="block__header">
      <h2 class="block__heading">What Our Customers Are Saying</h2>
      <p class="block__desc">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus,
        et.
      </p>
    </header>
    <div class="grid grid-cols-2 block__body testimonial container">
      <div class="testimonial__image">
        <span class="icon material-icons icon--accent">
          <img src="/icons/format_quote_white_24dp.svg" alt="" />
        </span>
        <img
          class="testimonial__user-image"
          src="/images/happie-austin.jpg"
          alt=""
        />
      </div>
      <div class="quotes">
        <p class="quote-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
          placeat iure facere error ab, alias architecto vel omnis vero quos
          nulla a reprehenderit dolores dolorum iusto accusamus non asperiores
          aperiam!
        </p>
        <div class="media">
          <div class="media-image">
            <img src="/icons/line.svg" alt="" width="60" />
          </div>
          <div class="media-body">
            <h3 class="media__heading quote__author">John Smith</h3>
            <div class="media__content quote__content">ABC Company</div>
          </div>
        </div>
      </div>
    </div>
  </section>